# pre-commit is a linter runner and GitHub hook manager
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
# Run `pre-commit autoupdate` now and then, why don't ya?

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-merge-conflict

  # Lint Dockerfiles
  # This hook uses hadolint in a Docker to minimize dev environment at the cost of speed
  - repo: https://github.com/hadolint/hadolint
    rev: v2.14.0
    hooks:
      - id: hadolint
        language: docker_image
        entry: ghcr.io/hadolint/hadolint:v2.10.0 hadolint

  # Linter for GitHub Actoin workflow files
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.9
    hooks:
    - id: actionlint-docker

  # Linter for markdown files
  # This hook uses fast rumdl, based on DavidAnson Node.js markdownlint, for speed
  - repo: https://github.com/rvben/rumdl-pre-commit
    rev: v0.0.179
    hooks:
      - id: rumdl
        # MD013: Line length rule disabled to allow long URLs and code blocks.
        # MD033: Inline HTML allowed for custom formatting in documentation.
        # MD036: Emphasis style (bold/italic) flexibility needed for legacy docs.
        # MD024: Duplicate heading names allowed for repeated section structures.
        # MD024: Duplicate headings allowed to support generated/versioned documentation sections.
        args: [ --disable, "MD013,MD033,MD036,MD024", --fix, --output-format, "github" ]
        # MD036: Emphasis style (bold/italic) flexibility needed for legacy docs.
        args: [ --disable, "MD013,MD033,MD036,MD024", --fix, --output-format, "github" ]


  # Linter for shell scripts
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
    - id: shellcheck

  # Prettifier for shell scripts
  # Try to get close to Google style guide
  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.12.0-2
    hooks:
      - id: shfmt-docker # Docker image (requires Docker to run)
        language: docker_image
        entry: mvdan/shfmt -ci -s -i 2

  # Detect secrets with GitLeaks
  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.30.0
    hooks:
      - id: gitleaks-docker

ci:
    autofix_commit_msg: |
        [pre-commit.ci] auto fixes from pre-commit.com hooks
        for more information, see https://pre-commit.ci
    autofix_prs: true
    autoupdate_branch: ''
    autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
    autoupdate_schedule: weekly
    skip: [hadolint,shfmt-docker,gitleaks-docker,actionlint-docker]
    submodules: false
