# A workflow that tests this action

name: CI test workflow

on:
  pull_request:
    branches: [main]
  workflow_dispatch:

permissions:
  pull-requests: write

jobs:
  test:
    runs-on: ubuntu-latest
    name: Run the CI tests

    steps:

      - name: Harden Runner
        uses: step-security/harden-runner@63c24ba6bd7ba022e95695ff85de572c04a18142 # v2.7.0
        with:
          disable-sudo: true
          egress-policy: block
          disable-telemetry: false
          allowed-endpoints: >
            api.github.com:443
            auth.docker.io:443
            deb.debian.org:80
            docker.io:443
            github.com:443
            production.cloudflare.docker.com:443
            registry-1.docker.io:443
            registry.npmjs.org:443
            pipelinesghubeus6.actions.githubusercontent.com:443

      - name: "Checkout code"
        uses: actions/checkout@1e31de5234b9f8995739874a8ce0492dc87873e2 # v4.0.0
        with:
          persist-credentials: false

      - name: Run test scripts
        working-directory: ${{ github.workspace }}
        id: test
        shell: bash
        run: |
          chmod +x test/test*.sh
          rm -f "test/test-*.txt"
          bash test/test.sh > test/test-result.txt
          echo "test-result=$(cat ${{ github.workspace }}/test/test-result.txt)" >>"$GITHUB_OUTPUT"
          echo

      - run: |
          echo "${{ steps.test.outputs.test-result }}"

      - name: Read test details  file.
        id: details
        uses: juliangruber/read-file-action@b549046febe0fe86f8cb4f93c24e284433f9ab58 # v1
        with:
          path: ${{ github.workspace }}/test/all-test-outputs.txt

      - name: Update test script comment on pull request.
        if:  github.event_name == 'pull_request'
        uses: thollander/actions-comment-pull-request@fabd468d3a1a0b97feee5f6b9e499eab0dd903f6 # v2
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          message: |
            Testing script results from test/test.sh
            ${{ steps.test.outputs.test-result }}

            <details><summary>Test script outputs from test/test.sh</summary>
            <p>

            ${{ steps.details.outputs.content }}

            </p>
            </details>
