# A workflow that tests this action

name: CI test workflow

on:
  pull_request:
    branches: [main]
  workflow_dispatch:

permissions:
  pull-requests: write

jobs:
  test:
    runs-on: ubuntu-latest
    name: Run the CI tests

    steps:

      - name: Harden Runner
        uses: step-security/harden-runner@dd5681a7d0c66fb362664d618ef4a90d656f6516
        with:
          egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

      - name: Checkout
        uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b

      - name: Run test scripts
        working-directory: ${{ github.workspace }}
        id: test
        shell: bash
        run: |
          chmod +x "test/test.sh"
          rm -f "test/test-*.txt"
          bash test/test.sh > test/test-result.txt
          echo "::set-output name=test-result::$(grep -v sha256 ${{ github.workspace }}/test/test-result.txt)"

      - name: Read test details  file.
        id: details
        uses: juliangruber/read-file-action@v1
        with:
          path: ${{ github.workspace }}/test/all-test-outputs.txt

      - name: Update test script comment on pull request.
        if: github.event_name == 'pull_request' && ( ${{ success() }} || ${{ failure() }} )
        uses: thollander/actions-comment-pull-request@v1
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          message: |
            Testing script results from test/test.sh
            ${{ steps.test.outputs.test-result }}

            <details><summary>Test script outputs from test/test.sh</summary>
            <p>

            ${{ steps.details.outputs.content }}

            </p>
            </details>
