# A workflow that tests this action

name: CI test workflow

on:
  pull_request:
    branches: [main]
  workflow_dispatch:

permissions:
  pull-requests: write

jobs:
  test:
    runs-on: ubuntu-latest
    name: Run the CI tests

    steps:

      - name: Dump the GH context
        id: github_context_step
        env:
          GITHUB_CONTEXT: ${{ toJSON(github) }}
        run: echo "$GITHUB_CONTEXT"

      - name: Checkout
        uses: actions/checkout@v3

      - name: Run test scripts
        working-directory: ${{ github.workspace }}
        id: test
        shell: bash
        run: |
          chmod +x "test/test.sh"
          rm -f "test/test-*.txt"
          bash test/test.sh > test/test-result.txt
          echo "::set-output name=test-result::$(grep "Test result:" ${{ github.workspace }}/test/test-result.txt)"
          ls -ltr ${{ github.workspace }}/test
        # continue-on-error: true

      - name: Read test details  file.
        id: details
        uses: juliangruber/read-file-action@v1
        with:
          path: ${{ github.workspace }}/test/test-outputs.txt

      - name: Update test script comment on pull request.
        if: github.event_name == 'pull_request' && ( ${{ success() }} || ${{ failure() }} )
        uses: thollander/actions-comment-pull-request@v1
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          message: |
            Testing script results from test/test.sh
            ${{ steps.test.outputs.test-result }}

            <details><summary>Test script outputs fro test/test.sh</summary>
            <p>

            ${{ steps.details.outputs.content }}

            </p>
            </details>
