# A workflow that tests this action

name: SARIF comment workflow

on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  pull-requests: write
  contents: read

jobs:
  comment:
    runs-on: ubuntu-latest
    name: Run the SARIF PR commenter

    steps:

      - name: Harden Runner
        uses: step-security/harden-runner@6c439dc8bdf85cadbbce9ed30d1c7b959517bc49 # v2.12.2
        with:
          disable-sudo: true
          egress-policy: block
          disable-telemetry: false
          allowed-endpoints: >
            api.github.com:443
            auth.docker.io:443
            deb.debian.org:443
            deb.debian.org:80
            github.com:443
            production.cloudflare.docker.com:443
            registry.npmjs.org:443
            registry-1.docker.io:443
            release-assets.githubusercontent.com:443

      - name: "Checkout code"
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false

      - name: Integration test of posting SARIF findings in the pull request from this branch
        if: github.event_name == 'pull_request'
        uses: ./ # use action from this branch # sett-and-hive/sarif-to-comment-action@main # This is a test, we want to dogfood main
        with:
            token:      ${{ secrets.GITHUB_TOKEN }}
            repository: ${{ github.repository }}
            branch:     ${{ github.head_ref }}
            pr-number:  ${{ github.event.number }}
            sarif-file: "./test/fixtures/odc.sarif"
            title:      "PR smoke test of comment with security scanning results"
            dry-run:    'false'
            odc-sarif: true
        env:
          CI: true

      - name: Dogfood test of posting SARIF findings with the main branch
        if: github.event_name == 'push'
        uses: sett-and-hive/sarif-to-comment-action@main # This is a test, we want to dogfood main
        with:
            token:      ${{ secrets.GITHUB_TOKEN }}
            repository: ${{ github.repository }}
            branch:     ${{ github.head_ref }}
            pr-number:  ${{ github.event.number }}
            sarif-file: "./test/fixtures/odc.sarif"
            title:      "PR smoke test of comment with security scanning results"
            dry-run:    'false'
            odc-sarif: true
        env:
          CI: true
