# A workflow that tests this action

name: SARIF comment workflow

on:
  pull_request:
    branches: [main]
  workflow_dispatch:

permissions:
  pull-requests: write

jobs:
  comment:
    runs-on: ubuntu-latest
    name: Run the SARIF PR commenter

    steps:

      - name: Harden Runner
        uses: step-security/harden-runner@6c439dc8bdf85cadbbce9ed30d1c7b959517bc49 # v2.12.2
        with:
          disable-sudo: true
          egress-policy: block
          disable-telemetry: false
          allowed-endpoints: >
            api.github.com:443
            auth.docker.io:443
            github.com:443
            production.cloudflare.docker.com:443
            registry.npmjs.org:443
            registry-1.docker.io:443

      - name: "Checkout code"
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Set npm cache directory to a writable location
        run: npm config set cache /tmp/.npm

      - name: Post SARIF findings in the pull request
        if: github.event_name == 'pull_request'
        uses: sett-and-hive/sarif-to-comment-action@story/173/support-sarif-to-comment-optional-no-suppressedresults-flag # This is a test, we want to dogfood main
        with:
            token:      ${{ secrets.GITHUB_TOKEN }}
            repository: ${{ github.repository }}
            branch:     ${{ github.head_ref }}
            pr-number:  ${{ github.event.number }}
            sarif-file: "./test/fixtures/odc.sarif"
            title:      "Test comment with security scanning results"
            dry-run:    'false'
            odc-sarif: true
        env:
          CI: true

      - name: Post SARIF findings in the pull request - no suppression
        if: github.event_name == 'pull_request'
        uses: sett-and-hive/sarif-to-comment-action@story/173/support-sarif-to-comment-optional-no-suppressedresults-flag # This is a test, we want to dogfood main
        with:
            token:      ${{ secrets.GITHUB_TOKEN }}
            repository: ${{ github.repository }}
            branch:     ${{ github.head_ref }}
            pr-number:  ${{ github.event.number }}
            sarif-file: "./test/fixtures/suppressions.sarif"
            title:      "Test comment with no suppression security scanning results"
            dry-run:    'false'
            odc-sarif: true
            hide-suppressed: false
        env:
          CI: true

      - name: Post SARIF findings in the pull request - with suppression
        if: github.event_name == 'pull_request'
        uses: sett-and-hive/sarif-to-comment-action@story/173/support-sarif-to-comment-optional-no-suppressedresults-flag # This is a test, we want to dogfood main
        with:
            token:      ${{ secrets.GITHUB_TOKEN }}
            repository: ${{ github.repository }}
            branch:     ${{ github.head_ref }}
            pr-number:  ${{ github.event.number }}
            sarif-file: "./test/fixtures/suppressions.sarif"
            title:      "Test comment with suppressed security scanning results hidden"
            dry-run:    'false'
            odc-sarif: true
            hide-suppressed: true
        env:
          CI: true
