# A workflow that runs Trivy to scan the action Docker image

name: Trivy workflow

on:
  pull_request:
    branches: [ "main" ]
  schedule:
    - cron: '43 12 * * 0'
  workflow_dispatch:

env:
  BRANCH_NAME: ${{ github.ref_name }}

permissions:
  contents: read

jobs:
  trivy:
    permissions:
      contents: read # for actions/checkout to fetch code
      security-events: write # for github/codeql-action/upload-sarif to upload SARIF results
      actions: read # only required for a private repository by github/codeql-action/upload-sarif to get the Action run status
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@f8b229487278099721572481264761b1d4fdd530
        with:
          egress-policy: block
          disable-telemetry: true
          allowed-endpoints: >
            api.github.com:443
            auth.docker.io:443
            deb.debian.org:80
            docker.io:443
            ghcr.io:443
            github.com:443
            pkg-containers.githubusercontent.com:443
            production.cloudflare.docker.com:443
            registry-1.docker.io:443
            registry.npmjs.org:443
            y2oiacprodeus2file6.blob.core.windows.net

      # Cache directory for trivy
      - uses: actions/cache@88522ab9f39a2ea568f7027eddc7d8d8bc9d59c8 # v3.3.1
        with:
          path: .trivy
          key: ${{ runner.os }}-trivy-${{ github.run_id }}
          restore-keys: |
            ${{ runner.os }}-trivy-

      - name: Checkout code
        uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # v3.3.0

      - name: Build an image from Dockerfile
        run: |
          docker build -t trivy-scan-image .

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@1f0aa582c8c8f5f7639610d6d38baddfea4fdcee # 0.9.2
        with:
          image-ref: trivy-scan-image
          format: 'sarif'
          output: 'trivy-results.sarif'
          severity: 'CRITICAL,HIGH'
          cache-dir: .trivy
          exit-code: "1" # change to 1, if you want the build to break
          ignore-unfixed: true
          vuln-type: 'os,library'
          security-checks: vuln

      # https://github.com/aquasecurity/trivy-action/issues/12 for an explanation
      - name: Correct Trivy cache permissions
        if: ${{ success() }} || ${{ failure() }}
        run: sudo chown -R "$USER":"$GROUP" .trivy

      - name: Upload Trivy scan results to GitHub Security tab
        if: ${{ success() }} || ${{ failure() }}
        uses: github/codeql-action/upload-sarif@959cbb7472c4d4ad70cdfe6f4976053fe48ab394 # tag=v21.3
        with:
          sarif_file: 'trivy-results.sarif'
